* {
    margin: 0;
    padding: 0;
}

html, body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    background: var(--background-portal) fixed;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

body > .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: inherit;
    background-size: inherit;
    /*filter: blur(2px);*/
    z-index: 0;
    content: " ";
}

body > .page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: grid;
    grid-template-rows: 100px 40px auto;
    grid-template-columns: 15vw auto 12vw;
}

.btn {
    display: block;
    line-height: 15px;
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px 15px;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
}

.btn-success {
    background: var(--green-1);
    color: var(--white-1);
}

.btn-cancel {
    background: var(--grey-1);
}

.blur {
    filter: blur(2px);
}

a, a:visited, a:active, a:link {
    text-decoration: none;
    color: inherit;
}

header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;
}

nav.main-menu {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}

header .title {
    width: 20vw;
    font-size: 5vw;
    color: #fff9c4;
    text-align: center;
}

div.content {
    height: 100%;
    border-left: 2px solid var(--orange-1);
    border-right: 2px solid var(--orange-1);
    /*background: rgba(255, 255, 255, .8);*/
    background: var(--white-1);
    padding: 30px 20px;
}

main {
    grid-row: 3;
    grid-column: 2;
    overflow: auto;
    background: var(--white-1);
}


form[name="login"] {
    display: grid;
    min-width: 200px;
    width: 17vw;
    height: 100%;
    grid-template-rows: repeat(2, 1fr 2px) 1fr;
    grid-template-columns: 1fr 2px 1fr;
    padding: 0 20px;
    overflow: hidden;
    position: relative;
    border-bottom: 2px solid #d84315;
}

form[name="login"]:before {
    display: block;
    width: 100%;
    height: 100%;
    background: var(--background-portal) fixed;
    background-size: cover;
    filter: blur(4px);
    content: " ";
    position: absolute;
}

form[name="login"]:after {
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    content: " ";
    position: absolute;
}

form[name="login"] input {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    z-index: 1;
}

form[name="login"] input[name="login"] {
    grid-row: 1;
}

form[name="login"] input[name="password"] {
    grid-row: 3;
}

form[name="login"] input[type="text"],form[name="login"] input[type="password"] {
    background: none;
    border: none;
    border-bottom: 1px solid var(--grey-1);
    color: var(--white-1);
    font-size: 17px;
}

form[name="login"] input[type="submit"] {
    grid-row: 5;
    grid-column: 1;
}

form[name="login"] a.btn {
    grid-row: 5;
    grid-column: 3;
    z-index: 1;
}

form[name='register'] {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
}

form[name='register'] input[type="text"],form[name='register'] input[type="password"],form[name='register'] input[type="email"] {
    background: none;
    border: none;
    border-bottom: 1px solid var(--grey-1);
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
    position: relative;
}

form[name='register'] input:required {
    border-left: 4px solid var(--orange-1);
}

