* {
    margin: 0;
    padding: 0;
}

html, body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    background: url(../images/portal-background.jpg) fixed;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

body > .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: inherit;
    background-size: inherit;
    filter: blur(2px);
    z-index: 0;
    content: " ";
}

body > .content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

body > .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: block;
    content: " ";
}

body > .modal > .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    background: rgba(0, 0, 0, .4);
}

body > .modal > .central-height {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body > .modal > .central-height > .central-width {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body > .modal > .central-height > .central-width > fieldset {
    z-index: 102;
    background: #ffffff;
    border: none;
    border-radius: 4px;
    position: relative;
    display: block;
    height: auto;
    width: auto;
}

body > .modal > .central-height > .central-width > fieldset > legend {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
    background: rgba(0, 0, 0, .1);
    text-transform: uppercase;
    position: relative;
    top: 20px;
    font-size: 20px;
}

body > .modal > .central-height > .central-width > fieldset > .content {
    padding: 30px 30px 20px 30px;
}

body > .modal > .central-height > .central-width > fieldset > .buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 0 30px 15px 30px;
}

.btn {
    line-height: 15px;
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px 15px;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

.btn-success {
    background: var(--green-1);
    color: var(--white-1);
}

.btn-cancel {
    background: var(--grey-1);
}

.title {
    font-size: 100px;
    color: #fff9c4;
}

.blur {
    filter: blur(2px);
}

nav {
    display: block;
    position: absolute;
    z-index: 50;
    width: 30vw;
    background: rgba(0, 0, 0, .4);
    padding: 20px 20px 20px 40px;
}

nav ul {

}

nav ul li {

}


.menu-root {

}

a, a:visited, a:active, a:link {
    text-decoration: none;
    color: inherit;
}